<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="3.5" DefaultTargets="Build" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
	<PropertyGroup>
		<!--
		In the default configuration of the global file, the values for a
		configuration in the global file supersede the values in the project
		configuration. This behavior can be changed by specifying a condition on
		the property as follows:

		<SitecoreWebUrl Condition=" '$(SitecoreWebUrl)' == '' "></SitecoreWebUrl>

		By adding the above condition, the value specified in the global
		configuration file will only be applied if the value specified in the
		project is blank.

		It should be noted that values in the project .user file will override
		values in the global file.

		Changes to this file will not be picked up by visual studio until the TDS
		project(s) or solution is reloaded.

		A TdsGlobal.config.user file may also be created in the same folder as
		this file. the .user file will override property values specified in
		other files.
		-->

		<!-- Packaging properties -->
		<PackageAuthor><%= solutionNamespace %></PackageAuthor>
		<PackagePublisher><%= solutionNamespace %></PackagePublisher>
		<PackageVersion>1.0.0.0</PackageVersion>
		<!--
		<PackageExcludeCode></PackageExcludeCode>
		<PackageReadme></PackageReadme>
		<GeneratePackage></GeneratePackage>
		<SeperateFilesAndItems></SeperateFilesAndItems>
		<SitecoreAssemblyPath></SitecoreAssemblyPath>
		<AddDateTimeToPackageName></AddDateTimeToPackageName>
		<DisableFileDeployment></DisableFileDeployment>
		-->

		<!-- Deployment Properties -->
		<RecursiveDeployAction>Ignore</RecursiveDeployAction>
		<SitecoreAccessGuid>0e02081c-9036-4d40-ae2a-e3b16aa03bbf</SitecoreAccessGuid>
		<AddDateTimeToPackageName>False</AddDateTimeToPackageName>

		<!-- NuGet package properties -->
		<!--
		<NuGetGenerateNuGetPackage></NuGetGenerateNuGetPackage>
		<NuGetExePath></NuGetExePath>
		<NuGetSummary></NuGetSummary>
		<NuGetDescription></NuGetDescription>
		<NuGetTitle></NuGetTitle>
		<NuGetVersion></NuGetVersion>
		<NuGetPackageId></NuGetPackageId>
		<NuGetAuthors></NuGetAuthors>
		<NuGetProjectUrl></NuGetProjectUrl>
		<NuGetTags></NuGetTags>
		<NuGetRequireLicenseAcceptance></NuGetRequireLicenseAcceptance>
		<NuGetReleaseNotes></NuGetReleaseNotes>
		<NuGetLanguage></NuGetLanguage>
		<NuGetOwners></NuGetOwners>
		<NuGetCopyright></NuGetCopyright>
		<NuGetLicenseUrl></NuGetLicenseUrl>
		<NuGetIconUrl></NuGetIconUrl>
		<NuGetDependencies></NuGetDependencies>
		-->

		<!-- Validation Properties -->
		<!--
		<EnableValidations></EnableValidations>
		<ValidationSettingsFilePath></ValidationSettingsFilePath>
		-->
	</PropertyGroup>

	<PropertyGroup Condition=" '$(Configuration)' == 'Debug' ">
		<SitecoreWebUrl>http://<%= localUrl %>/</SitecoreWebUrl>
		<SitecoreDeployFolder>C:\inetpub\wwwroot\<%= localUrl %>\Website</SitecoreDeployFolder>
		<InstallSitecoreConnector>True</InstallSitecoreConnector>
		<GeneratePackage>True</GeneratePackage>
	</PropertyGroup>

	<PropertyGroup Condition=" '$(Configuration)' == 'Release-CM' ">
		<SitecoreWebUrl></SitecoreWebUrl>
		<SitecoreDeployFolder></SitecoreDeployFolder>
		<InstallSitecoreConnector>False</InstallSitecoreConnector>
	</PropertyGroup>

	<PropertyGroup Condition=" '$(Configuration)' == 'Release-CD' ">
		<SitecoreWebUrl></SitecoreWebUrl>
		<SitecoreDeployFolder></SitecoreDeployFolder>
		<InstallSitecoreConnector>False</InstallSitecoreConnector>
	</PropertyGroup>

</Project>
