<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Extensions.DependencyInjection" version="1.0.0" targetFramework="<%= frameworkShorthand %>" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="1.0.0" targetFramework="<%= frameworkShorthand %>" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="2.0.1" targetFramework="<%= frameworkMajor %>" />
  <package id="Microsoft.Net.Compilers" version="2.9.0" developmentDependency="true" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net45" />
  <package id="Sitecore.Kernel" version="<%= sitecoreVersion %>" targetFramework="<%= frameworkSitecore %>" developmentDependency="true" />
  <package id="Sitecore.Logging" version="<%= sitecoreVersion %>" targetFramework="<%= frameworkSitecore %>" developmentDependency="true" />
  <package id="Sitecore.Logging.Client" version="<%= sitecoreVersion %>" targetFramework="<%= frameworkSitecore %>" developmentDependency="true" />
  <package id="Sitecore.NVelocity" version="<%= sitecoreVersion %>" targetFramework="<%= frameworkSitecore %>" developmentDependency="true" />
  <package id="Sitecore.Update.NoReferences" version="<%= sitecoreVersion %>" targetFramework="<%= frameworkSitecore %>" developmentDependency="true" />
  <package id="Sitecore.Zip" version="<%= sitecoreVersion %>" targetFramework="<%= frameworkSitecore %>" developmentDependency="true" />
  <package id="System.Collections" version="4.0.11" targetFramework="<%= frameworkShorthand %>" />
  <package id="System.Collections.Concurrent" version="4.0.12" targetFramework="<%= frameworkShorthand %>" />
  <package id="System.ComponentModel" version="4.0.1" targetFramework="<%= frameworkShorthand %>" />
  <package id="System.Diagnostics.Debug" version="4.0.11" targetFramework="<%= frameworkShorthand %>" />
  <package id="System.Globalization" version="4.0.11" targetFramework="<%= frameworkShorthand %>" />
  <package id="System.Linq" version="4.1.0" targetFramework="<%= frameworkShorthand %>" />
  <package id="System.Linq.Expressions" version="4.1.0" targetFramework="<%= frameworkShorthand %>" />
  <package id="System.Reflection" version="4.1.0" targetFramework="<%= frameworkShorthand %>" />
  <package id="System.Resources.ResourceManager" version="4.0.1" targetFramework="<%= frameworkShorthand %>" />
  <package id="System.Runtime.Extensions" version="4.1.0" targetFramework="<%= frameworkShorthand %>" />
  <package id="System.Threading" version="4.0.11" targetFramework="<%= frameworkShorthand %>" />
  <package id="System.Threading.Tasks" version="4.0.11" targetFramework="<%= frameworkShorthand %>" />
</packages>